// Fonts
$primaryFont: 'Museo 300', sans-serif;
$boldFont: 'Museo 700';
$secondaryFont: Verdana, Geneva, sans-serif;
$baseFontSize: 16px;
$baseFontColor: #3E443C;

// Colours
$primary: #3E443C;
$secondary: #97aee5;
$tertiary: #1C3780;
$quarternary: #7DBFEA;

$lightgrey: #f1f5f7;
$white: #FFFFFE; 
$text: $baseFontColor;
$border: darken($lightgrey, 5%); 