// Fonts
$primaryFont: 'Museo 300', sans-serif;
$boldFont: 'Museo 700';
$secondaryFont: Verdana, Geneva, sans-serif;
$baseFontSize: 16px;
$baseFontColor: #333333;

$primary: #292826;
$secondary: #f9d342;
$tertiary: #87BBD7;
$quarternary: #C0C0C0;

// Colours
// $primary: #3E443C;
// $secondary: #A8BAE3;
// $tertiary: #0F2F79;
// $quarternary: #7DBFEA;

$lightgrey: #f1f5f7;
$white: #FFFFFE; 
$text: $baseFontColor;
$border: darken($lightgrey, 5%); 